*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
   
}
body{
    background-color: rgb(0, 0, 0);
    color: black;
}
.head{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
     url(https://assets.nflxext.com/ffe/siteui/vlv3/efb4855d-e702-43e5-9997-bba0154152e0/42f6dd08-d478-46e4-a4a8-e3a93aa7e085/IN-en-20230417-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    padding: 50px 8%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    width: 150px;
    cursor: pointer;
}
nav button{
    border: 0;
    outline: 0;
    background: hsl(0, 76%, 48%);
    color: white;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor:pointer;

}
#a{
    background: transparent;
    border: solid 1px;
}
.h_content{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 70px;
}
.h_content h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}
.h_content h3{
    font-weight: 400;
}
.email{
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}
.email input{
    flex:1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    color: black;
    font-size: larger;
}
.email button{
    background: hsl(0, 76%, 48%);
    border: 0;
    outline: 0;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 20px;
}
.dis{
    background: #181818;
  padding: 50px 8%;
  margin: 25px 8%;
  margin-top: 100px;
}

.box{
    display: flex;
    align-items: center;
}
.text{
    
 flex-basis: 50%;
 margin-bottom: 20px;

}
.imag{
    flex-basis: 50%;
    margin-bottom: 20px;

}
.imag img{
    display: block;
width: 90%;
margin: auto;
}
.text h2{
    font-size: 45px;
}
.text p{
    margin-top: 20px;
    font-size:18px;
}
.faq{
    padding: 10px 12%;
    font-size: 18px;
    text-align: center;
}
.acc{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
    }
.acc li{
list-style: none;
width: 100%;
padding: 5px;
    }
.acc li label{
    display: flex;
    align-items: center;
    padding:20px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2px;
    background: #8f8f8f;
position: relative;
}
label::after{
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 34px;

}
input[type="radio"]{
    display: none;
}
.acc .content{
    background: #c6c6c6;
    text-align: left;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;

}
.acc input[type="radio"]:checked + label + .content {
    max-height: 600px;
padding: 30px ;

}



