/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: content-box;
}
body{
    background: #f0f8ff;
}
.head{
    /* margin: 0 40px; */
    display: flex;
    position: fixed;
    width: 100%;
    background:rgb(255, 255, 255) ;
    justify-content: space-evenly;
    /* padding-left:40px;  */
    align-items: center;
    /* margin: 0 40px ; */
}
#blue{
    color:#5580f5;
}
.nav a{
    text-decoration: none;
font-size: 30px;
padding-right: 20px;
color: rgb(71, 71, 71);
flex-wrap: wrap;
}


#project{
/* background-image: url(https://img1.picmix.com/output/stamp/normal/6/8/6/5/1965686_1a76e.gif); */
background:#4070f4;
/* background-image: url(https://media3.giphy.com/media/MRtqvTqgmmzdYeQIJF/giphy.gif?cid=ecf05e47qm0eh0kyew8cshrmcwfqmtapdkdbw3n93dy58d2r&ep=v1_gifs_related&rid=giphy.gif&ct=g); */
background-size: cover;
background-image: url(https://media4.giphy.com/media/dAWZiSMbMvObDWP3aA/giphy.gif?cid=ecf05e47u2xef0ljtk5teq3uv6zgyy9g09heigz654gj0bq2&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    /* border:solid black 3px; */

}
.nav a:hover{
    color: rgb(0, 0, 0);
}
.content{
        /* background-image :url(https://images.pexels.com/photos/927022/pexels-photo-927022.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-927022.jpg&fm=jpg); */
       
    height: 100vh;
    width: 100%;
    /* position: fixed; */
 align-items: center; 
 display: flex;  
 /* margin: 10px; */
/* align-content: center; */
}
.content h1{
    font-size: 70px;
}
.text{
padding-left: 3%;
}
.skil{
    /* align-items: center; */
    margin:100px 8%;
    /* display: flex; */
    /* height: 80vh; */
    width: 80%;
    background-color: rgb(255, 255, 255);
}

.skil h2 {
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}
.tag{
    display: flex;
    margin:100px 8%;

    align-items: center;
font-size: 30px;
justify-content: space-between;
}
.level{
    margin: 10px 100px;
    background: #bababa;
    /* height: 10px; */
    height: 42px;
    width: 434px;
    border-radius: 50px;
    box-sizing: content-box;
}
#html{
    height: 42px;
        width: 80%; 
    background: #000;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    /* border-radius: 50px; */
}
#css{
    height: 42px;
        width:60%; 
    background: #000;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
#java{
    height: 42px;
        width: 20%; 
    background: #000;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.myself{
    /* height: 100px; */
    /* width: 100%; */
    background: #ffffff;
    padding:100px 3% ;
    display: flex;
}
.image{
    width: 50%;
    /* background-size: cover; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    }
.image img{
    border-radius: 4px;
    box-shadow: -23px 22px 5px -2px black;
}
.imgText{
    font-family: 'Josefin Sans', sans-serif;
width: 50%;
}
button{
    background: #000000;
    padding: 3px 10px;
    color: white; 
    border: none;
}






















/* footer section */
footer{
    background:#4070f4;
    /* height: 30px; */
    /* height: ; */
    /* width: 100%; */
    color: white;
    /* height: ; */
}
.title{
    background: white;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    
}
#center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.about{
    margin: 20px 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.row ul li ,.row a{
    text-decoration: none;
    color: white;
    
}
.row ul li{
    list-style: none;

}
.row h4{
    color: white;
    font-size: 30px;
}
